/* General */
:root {
  --neutralLight: white;
  --neutralMedium: rgb(242, 242, 242);
  --neutralDark: rgb(51, 51, 51);
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  background-color: var(--neutralMedium);
}

main {
  background-color: white;
  text-align: center;
  padding: 1rem 1rem 3rem 1rem;
  max-width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 2.5rem 5rem 0 rgb(0 0 0 / 10%);
}

@media (min-width: 576px) {
  main {
    padding: 2rem 2rem 3rem 2rem;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: 500;
}

form {
  padding: 0;
}

i {
  color: inherit;
  font-size: 16px;
  padding-left: 8px;
}

select {
  cursor: pointer;
  height: 2rem;
  padding-left: 5px;
  font-size: 1rem;
}

.filterAndSort {
  padding: 2.5rem 0 0.5rem 0;
  text-align: left;
}

.sort {
  margin-right: auto;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .filterAndSort {
    display: flex;
    padding: 2.5rem 0 0.5rem 0;
  }
  .sort {
    margin-bottom: 0;
  }
}


/* Containers */
.listItemContainer {
  display: block;
  border-bottom: 2px solid black;
  padding-top: 1rem;
}

.listItemContainer button:last-child {
  margin-left: 4%;
}

@media (min-width: 576px) {
  .listItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    padding: 1.5rem 0 0.5rem 0;
  }
  .listItemContainer button:last-child {
    margin-left: 0;
  }
}


/* Links */
a {
  text-decoration: none;
  color: #1a73e8;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #1a73e8;
}
.linkBox {
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

@media (min-width: 576px) {
  .linkBox {
    width: 50%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
  }
}


/* Buttons and Input type=submit */
button {
  cursor: pointer;
  padding: 0;
  height: 2rem;
  font-size: 0.8rem;
}

input[type='submit'] {
  color: var(--neutralLight);
  background-color: var(--neutralDark);
  height: 2rem;
  cursor: pointer;
  font-size: 0.8rem;
  -webkit-appearance: none;
}

.btnPrimary {
  background-color: var(--neutralDark);
  color: var(--neutralLight);
}

.btnDanger {
  border: 1px solid #ca3c3c;
  background-color: #ca3c3c;
  color: white;
}

.btnPrimary:hover, .btnDanger:hover, input[type='submit']:hover {
  opacity: 0.85;
}

.btnBack {
  position: absolute;
  left: 0;
}

.btnSecondary {
  background-color: var(--neutralLight);
}

.btnSecondary:hover {
  background-color: #eeeeee;
}

.activeFilter {
  border: 2px solid black;
  text-decoration: underline;
}

.itemActionButton {
  width: 48%;
  border: 1px solid black;
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  .itemActionButton {
    width: 22%;
    margin-bottom: 0;
  }
}

.newEntrySubmit {
  width: 100%;
  border: none;
}


/* Input type=text */
input[type='text'] {
  border: 1px solid black;
  box-sizing: border-box;
  height: 2rem;
  padding-left: 0.5rem;
  font-size: 1rem;
}

.newEntry {
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
}

.editBox {
  width: 100%;
  margin: 0.85rem 0;
}

@media (min-width: 576px) {
  .editBox {
    width: 50%;
    margin: 0;
  }
}


/* Input type=checkbox */

.checkBox {
  width: 50%;
  cursor: pointer;
  align-items: center;
}
/* Hide default checkbox styles */
input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
/* Checkbox Text */
input[type='checkbox']+p {
  display: flex;
  text-align: left;
  align-items: inherit;
  width: 100%;
  hyphens: auto;
}
/* Checkbox un-checked style */
input[type="checkbox"]+p:before {
  content: '';
  border: 1px solid black;
  display: block;
  min-width: 25px;
  min-height: 25px;
  margin-right: 0.5em;
  border-radius: 100%;
}
/* Checked checkbox style */
input[type="checkbox"]:checked+p:before {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/ios-checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  /* The size of the checkmark icon */
  background-size: 35px;
  background-color: #4fb62a;
  color: white;
  border: 1px solid #4fb62a;
}